In [1]:
import pandas as pd
import json as json
import ast

In [108]:
kolkata_car=pd.read_excel("C:/Users/HP/Desktop/car_dekho_files/kolkata_cars.xlsx")
kolkata_car.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [109]:
for column in ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']:
    kolkata_car[column] =kolkata_car[column].apply(ast.literal_eval)

# Normalize each column
k_detail = pd.json_normalize( kolkata_car['new_car_detail'])
k_overview = pd.json_normalize( kolkata_car['new_car_overview'])
k_feature = pd.json_normalize( kolkata_car['new_car_feature'])
k_specs= pd.json_normalize( kolkata_car['new_car_specs'])

# Merge all normalized DataFrames into one
k_combined = pd.concat([k_detail, k_overview, k_feature, k_specs,], axis=1)

# Display the combined DataFrame
print(k_combined.head())

   it      ft         bt      km transmission  ownerNo      owner      oem  \
0   0  Petrol      Sedan  70,000    Automatic        3  3rd Owner   Toyota
1   0  Petrol  Hatchback  23,981       Manual        1  1st Owner   Datsun
2   0  Petrol        SUV   7,100    Automatic        1  1st Owner  Renault
3   0  Petrol  Hatchback  71,574       Manual        2  2nd Owner  Hyundai
4   0  Diesel        SUV  50,000    Automatic        2  2nd Owner     Audi

           model  modelYear  ...  \
0   Toyota Camry       2014  ...
1  Datsun RediGO       2017  ...
2  Renault Kiger       2021  ...
3    Hyundai i20       2011  ...
4        Audi Q3       2014  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2014',...       None  Features
1  [{'key': 'Registration Year', 'value': 'Jul 20...       None  Features
2  [{'key': 'Registration Year', 'value': 'Nov 20...       None  Features
3  [{'key': 'Registration Year', 'value': 'Feb 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2014',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Power Steering'}, {'value': 'Power...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Mileage', 'value': '19.16 kmpl'}, {'...
1  [{'key': 'Mileage', 'value': '22.7 kmpl'}, {'k...
2  [{'key': 'Mileage', 'value': '19.03 kmpl'}, {'...
3  [{'key': 'Mileage', 'value': '17 kmpl'}, {'key...
4  [{'key': 'Mileage', 'value': '15.73 kmpl'}, {'...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

In [110]:
k_combined.to_csv('C:/Users/HP/Desktop/car_dekho_files/new files/k1.csv')

JAIPUR

In [111]:
jaipur_car=pd.read_excel("C:/Users/HP/Desktop/car_dekho_files/jaipur_cars.xlsx")
jaipur_car.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [112]:
for column in ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']:
    jaipur_car[column] =jaipur_car[column].apply(ast.literal_eval)

# Normalize each column
j_detail = pd.json_normalize( jaipur_car['new_car_detail'])
j_overview = pd.json_normalize( jaipur_car['new_car_overview'])
j_feature = pd.json_normalize( jaipur_car['new_car_feature'])
j_specs= pd.json_normalize( jaipur_car['new_car_specs'])

# Merge all normalized DataFrames into one
j_combined = pd.concat([j_detail, j_overview, j_feature, j_specs,], axis=1)

# Display the combined DataFrame
print(j_combined.head())

   it      ft         bt        km transmission  ownerNo      owner      oem  \
0   0  Diesel  Hatchback  1,20,000       Manual        2  2nd Owner  Hyundai
1   0  Petrol  Hatchback    66,951       Manual        1  1st Owner   Maruti
2   0  Petrol  Hatchback    80,000    Automatic        2  2nd Owner   Maruti
3   0  Petrol  Hatchback    44,392       Manual        1  1st Owner  Hyundai
4   0  Petrol  Hatchback    40,000    Automatic        1  1st Owner   Maruti

               model  modelYear  ...  \
0        Hyundai i20       2015  ...
1       Maruti Swift       2012  ...
2     Maruti Celerio       2016  ...
3  Hyundai Grand i10       2017  ...
4     Maruti Wagon R       2016  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2015',...       None  Features
1  [{'key': 'Registration Year', 'value': 'Jan 20...       None  Features
2  [{'key': 'Registration Year', 'value': '2016',...       None  Features
3  [{'key': 'Registration Year', 'value': 'Apr 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2016',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Power Steering'}, {'value': 'Power...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Mileage', 'value': '22.54 kmpl'}, {'...
1  [{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...
2  [{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...
3  [{'key': 'Mileage', 'value': '18.9 kmpl'}, {'k...
4  [{'key': 'Mileage', 'value': '20.51 kmpl'}, {'...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

HYDERABAD

In [113]:
hyderabad_car=pd.read_excel("C:/Users/HP/Desktop/car_dekho_files/hyderabad_cars.xlsx")
hyderabad_car.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [114]:
for column in ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']:
    hyderabad_car[column] =hyderabad_car[column].apply(ast.literal_eval)

# Normalize each column
h_detail = pd.json_normalize( hyderabad_car['new_car_detail'])
h_overview = pd.json_normalize( hyderabad_car['new_car_overview'])
h_feature = pd.json_normalize( hyderabad_car['new_car_feature'])
h_specs= pd.json_normalize( hyderabad_car['new_car_specs'])

# Merge all normalized DataFrames into one
h_combined = pd.concat([h_detail, h_overview, h_feature, h_specs,], axis=1)

# Display the combined DataFrame
print(h_combined.head())

   it      ft         bt      km transmission  ownerNo      owner         oem  \
0   0  Petrol  Hatchback  20,000    Automatic        1  1st Owner  Volkswagen
1   0  Petrol  Hatchback  85,582       Manual        2  2nd Owner     Hyundai
2   0  Petrol        SUV  10,000       Manual        1  1st Owner     Hyundai
3   0  Petrol  Hatchback  50,750       Manual        1  1st Owner      Maruti
4   0  Petrol        SUV  10,000    Automatic        1  1st Owner    Mahindra

             model  modelYear  ...  \
0  Volkswagen Polo       2022  ...
1      Hyundai EON       2014  ...
2    Hyundai Venue       2023  ...
3    Maruti Baleno       2017  ...
4    Mahindra Thar       2022  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2022',...       None  Features
1  [{'key': 'Registration Year', 'value': 'Oct 20...       None  Features
2  [{'key': 'Registration Year', 'value': '2023',...       None  Features
3  [{'key': 'Registration Year', 'value': 'Mar 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2022',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Power Steering'}, {'value': 'Power...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Mileage', 'value': '16.47 kmpl'}, {'...
1  [{'key': 'Mileage', 'value': '21.1 kmpl'}, {'k...
2  [{'key': 'Engine', 'value': '1197 CC'}, {'key'...
3  [{'key': 'Mileage', 'value': '21.4 kmpl'}, {'k...
4  [{'key': 'Engine', 'value': '1997 CC'}, {'key'...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

Delhi

In [115]:
delhi_car=pd.read_excel("C:/Users/HP/Desktop/car_dekho_files/delhi_cars.xlsx")
delhi_car.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [116]:
for column in ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']:
    delhi_car[column] =delhi_car[column].apply(ast.literal_eval)

# Normalize each column
d_detail = pd.json_normalize( delhi_car['new_car_detail'])
d_overview = pd.json_normalize( delhi_car['new_car_overview'])
d_feature = pd.json_normalize( delhi_car['new_car_feature'])
d_specs= pd.json_normalize( delhi_car['new_car_specs'])

# Merge all normalized DataFrames into one
d_combined = pd.concat([d_detail, d_overview, d_feature, d_specs,], axis=1)

# Display the combined DataFrame
print(d_combined.head())

   it      ft         bt      km transmission  ownerNo      owner  \
0   0  Diesel        SUV  10,000    Automatic        1  1st Owner
1   0  Petrol        SUV  57,437       Manual        2  2nd Owner
2   0  Petrol        SUV   8,000    Automatic        1  1st Owner
3   0  Petrol  Hatchback  28,151       Manual        2  2nd Owner
4   0  Petrol        SUV  60,000       Manual        1  1st Owner

             oem              model  modelYear  ...  \
0            Kia         Kia Seltos       2022  ...
1        Hyundai      Hyundai Creta       2016  ...
2  Mercedes-Benz  Mercedes-Benz GLC       2020  ...
3         Maruti       Maruti Swift       2018  ...
4        Hyundai      Hyundai Creta       2017  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2022',...       None  Features
1  [{'key': 'Registration Year', 'value': 'May 20...       None  Features
2  [{'key': 'Registration Year', 'value': 'Dec 20...       None  Features
3  [{'key': 'Registration Year', 'value': 'Jan 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2017',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Power Steering'}, {'value': 'Power...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Mileage', 'value': '18 kmpl'}, {'key...
1  [{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...
2  [{'key': 'Mileage', 'value': '12.74 kmpl'}, {'...
3  [{'key': 'Mileage', 'value': '22.38 kmpl'}, {'...
4  [{'key': 'Mileage', 'value': '15.29 kmpl'}, {'...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

Chennai

In [117]:
chennai_car=pd.read_excel("C:/Users/HP/Desktop/car_dekho_files/chennai_cars.xlsx")
chennai_car.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [118]:
for column in ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']:
    chennai_car[column] =chennai_car[column].apply(ast.literal_eval)

# Normalize each column
c_detail = pd.json_normalize( chennai_car['new_car_detail'])
c_overview = pd.json_normalize(chennai_car['new_car_overview'])
c_feature = pd.json_normalize( chennai_car['new_car_feature'])
c_specs= pd.json_normalize( chennai_car['new_car_specs'])

# Merge all normalized DataFrames into one
c_combined = pd.concat([c_detail, c_overview, c_feature, c_specs,], axis=1)

# Display the combined DataFrame
print(c_combined.head())

   it      ft         bt      km transmission  ownerNo      owner      oem  \
0   0  Petrol        SUV  20,000    Automatic        1  1st Owner      Kia
1   0  Petrol   Minivans  20,687       Manual        1  1st Owner   Maruti
2   0  Petrol        SUV  30,000       Manual        1  1st Owner   Nissan
3   0  Petrol  Hatchback  59,247       Manual        1  1st Owner  Hyundai
4   0  Petrol  Hatchback  50,000       Manual        1  1st Owner    Honda

            model  modelYear  ...  \
0       Kia Sonet       2022  ...
1     Maruti Eeco       2015  ...
2  Nissan Magnite       2021  ...
3     Hyundai i10       2015  ...
4      Honda Jazz       2015  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2022',...       None  Features
1  [{'key': 'Registration Year', 'value': 'Feb 20...       None  Features
2  [{'key': 'Registration Year', 'value': '2021',...       None  Features
3  [{'key': 'Registration Year', 'value': 'May 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2015',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Low Fuel Warning Light'}, {'value'...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Engine', 'value': '998 CC'}, {'key':...
1  [{'key': 'Mileage', 'value': '15.37 kmpl'}, {'...
2  [{'key': 'Mileage', 'value': '20 kmpl'}, {'key...
3  [{'key': 'Mileage', 'value': '19.81 kmpl'}, {'...
4  [{'key': 'Mileage', 'value': '18.7 kmpl'}, {'k...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

    BENGULURU

In [119]:
bangalore_car=pd.read_excel("C:/Users/HP/Desktop/car_dekho_files/bangalore_cars.xlsx")
bangalore_car.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [120]:
for column in ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']:
    bangalore_car[column] =bangalore_car[column].apply(ast.literal_eval)

# Normalize each column
b_detail = pd.json_normalize(bangalore_car['new_car_detail'])
b_overview = pd.json_normalize(bangalore_car['new_car_overview'])
b_feature = pd.json_normalize(bangalore_car['new_car_feature'])
b_specs= pd.json_normalize(bangalore_car['new_car_specs'])

# Merge all normalized DataFrames into one
b_combined = pd.concat([b_detail, b_overview, b_feature, b_specs,], axis=1)

# Display the combined DataFrame
print(b_combined.head())

   it      ft         bt        km transmission  ownerNo      owner      oem  \
0   0  Petrol  Hatchback  1,20,000       Manual        3  3rd Owner   Maruti
1   0  Petrol        SUV    32,706       Manual        2  2nd Owner     Ford
2   0  Petrol  Hatchback    11,949       Manual        1  1st Owner     Tata
3   0  Petrol      Sedan    17,794       Manual        1  1st Owner  Hyundai
4   0  Diesel        SUV    60,000       Manual        1  1st Owner   Maruti

                model  modelYear  ...  \
0      Maruti Celerio       2015  ...
1       Ford Ecosport       2018  ...
2          Tata Tiago       2018  ...
3       Hyundai Xcent       2014  ...
4  Maruti SX4 S Cross       2015  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2015',...       None  Features
1  [{'key': 'Registration Year', 'value': 'Feb 20...       None  Features
2  [{'key': 'Registration Year', 'value': 'Sept 2...       None  Features
3  [{'key': 'Registration Year', 'value': 'Dec 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2015',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Power Steering'}, {'value': 'Power...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...
1  [{'key': 'Mileage', 'value': '17 kmpl'}, {'key...
2  [{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...
3  [{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...
4  [{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

In [121]:
overall_details=pd.concat([k_combined,d_combined,b_combined,c_combined,j_combined,h_combined],axis=0)
overall_details = overall_details.reset_index(drop=True)
print(overall_details.head())

   it      ft         bt      km transmission  ownerNo      owner      oem  \
0   0  Petrol      Sedan  70,000    Automatic        3  3rd Owner   Toyota
1   0  Petrol  Hatchback  23,981       Manual        1  1st Owner   Datsun
2   0  Petrol        SUV   7,100    Automatic        1  1st Owner  Renault
3   0  Petrol  Hatchback  71,574       Manual        2  2nd Owner  Hyundai
4   0  Diesel        SUV  50,000    Automatic        2  2nd Owner     Audi

           model  modelYear  ...  \
0   Toyota Camry       2014  ...
1  Datsun RediGO       2017  ...
2  Renault Kiger       2021  ...
3    Hyundai i20       2011  ...
4        Audi Q3       2014  ...

                                                 top bottomData   heading  \
0  [{'key': 'Registration Year', 'value': '2014',...       None  Features
1  [{'key': 'Registration Year', 'value': 'Jul 20...       None  Features
2  [{'key': 'Registration Year', 'value': 'Nov 20...       None  Features
3  [{'key': 'Registration Year', 'value': 'Feb 20...       None  Features
4  [{'key': 'Registration Year', 'value': '2014',...       None  Features

                                                 top  \
0  [{'value': 'Power Steering'}, {'value': 'Power...
1  [{'value': 'Power Steering'}, {'value': 'Power...
2  [{'value': 'Power Steering'}, {'value': 'Power...
3  [{'value': 'Power Steering'}, {'value': 'Power...
4  [{'value': 'Power Steering'}, {'value': 'Power...

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon         heading  \
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg  Specifications

                                                 top  \
0  [{'key': 'Mileage', 'value': '19.16 kmpl'}, {'...
1  [{'key': 'Mileage', 'value': '22.7 kmpl'}, {'k...
2  [{'key': 'Mileage', 'value': '19.03 kmpl'}, {'...
3  [{'key': 'Mileage', 'value': '17 kmpl'}, {'key...
4  [{'key': 'Mileage', 'value': '15.73 kmpl'}, {'...

                                                data commonIcon
0  [{'heading': 'Engine and Transmission', 'subHe...
1  [{'heading': 'Engine and Transmission', 'subHe...
2  [{'heading': 'Engine and Transmission', 'subHe...
3  [{'heading': 'Engine and Transmission', 'subHe...
4  [{'heading': 'Engine and Transmission', 'subHe...

[5 rows x 30 columns]

In [122]:
overall_details = overall_details.loc[:, ~overall_details.columns.duplicated(keep='first')]

In [123]:
print(overall_details.head())

   it      ft         bt      km transmission  ownerNo      owner      oem  \
0   0  Petrol      Sedan  70,000    Automatic        3  3rd Owner   Toyota
1   0  Petrol  Hatchback  23,981       Manual        1  1st Owner   Datsun
2   0  Petrol        SUV   7,100    Automatic        1  1st Owner  Renault
3   0  Petrol  Hatchback  71,574       Manual        2  2nd Owner  Hyundai
4   0  Diesel        SUV  50,000    Automatic        2  2nd Owner     Audi

           model  modelYear  ...  priceSaving priceFixedText  \
0   Toyota Camry       2014  ...                        None
1  Datsun RediGO       2017  ...                        None
2  Renault Kiger       2021  ...                        None
3    Hyundai i20       2011  ...                        None
4        Audi Q3       2014  ...                        None

                                 trendingText.imgUrl trendingText.heading  \
0  https://stimg.cardekho.com/used-cars/common/ic...        Trending Car!
1  https://stimg.cardekho.com/used-cars/common/ic...        Trending Car!
2  https://stimg.cardekho.com/used-cars/common/ic...        Trending Car!
3  https://stimg.cardekho.com/used-cars/common/ic...        Trending Car!
4  https://stimg.cardekho.com/used-cars/common/ic...        Trending Car!

                     trendingText.desc       heading  \
0  High chances of sale in next 6 days  Car overview
1  High chances of sale in next 6 days  Car overview
2  High chances of sale in next 6 days  Car overview
3  High chances of sale in next 6 days  Car overview
4  High chances of sale in next 6 days  Car overview

                                                 top bottomData  \
0  [{'key': 'Registration Year', 'value': '2014',...       None
1  [{'key': 'Registration Year', 'value': 'Jul 20...       None
2  [{'key': 'Registration Year', 'value': 'Nov 20...       None
3  [{'key': 'Registration Year', 'value': 'Feb 20...       None
4  [{'key': 'Registration Year', 'value': '2014',...       None

                                                data  \
0  [{'heading': 'Comfort & Convenience', 'subHead...
1  [{'heading': 'Comfort & Convenience', 'subHead...
2  [{'heading': 'Comfort & Convenience', 'subHead...
3  [{'heading': 'Comfort & Convenience', 'subHead...
4  [{'heading': 'Comfort & Convenience', 'subHead...

                                          commonIcon
0  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
1  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
2  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
3  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg
4  https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg

[5 rows x 24 columns]

In [124]:
overall_details=overall_details.drop(columns=['owner','top','data','it','priceActual','priceSaving','priceFixedText','trendingText.imgUrl','trendingText.heading','trendingText.desc','heading','bottomData','commonIcon'])
overall_details.head()

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,centralVariantId,variantName,price
0,Petrol,Sedan,"70,000",Automatic,3,Toyota,Toyota Camry,2014,2123,Hybrid,₹ 9.75 Lakh
1,Petrol,Hatchback,"23,981",Manual,1,Datsun,Datsun RediGO,2017,5236,T Option,₹ 2.66 Lakh
2,Petrol,SUV,"7,100",Automatic,1,Renault,Renault Kiger,2021,8352,RXT AMT,₹ 5.95 Lakh
3,Petrol,Hatchback,"71,574",Manual,2,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,₹ 2.23 Lakh
4,Diesel,SUV,"50,000",Automatic,2,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,₹ 12 Lakh

In [125]:
import pandas as pd


# Function to clean the price string
def clean_price(price_str):
    # Remove the currency symbol and 'Lakh'
    price_str = price_str.replace('â‚¹', '').replace('Lakh', '').replace('₹ ','').replace(',', '').replace('Crore', '').strip()
    
    # Return cleaned value
    return float(price_str)

# Apply the cleaning function to the price column
overall_details['price'] = overall_details['price'].apply(clean_price)

# Preview the cleaned data
overall_details.head()

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,centralVariantId,variantName,price
0,Petrol,Sedan,"70,000",Automatic,3,Toyota,Toyota Camry,2014,2123,Hybrid,9.75
1,Petrol,Hatchback,"23,981",Manual,1,Datsun,Datsun RediGO,2017,5236,T Option,2.66
2,Petrol,SUV,"7,100",Automatic,1,Renault,Renault Kiger,2021,8352,RXT AMT,5.95
3,Petrol,Hatchback,"71,574",Manual,2,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,2.23
4,Diesel,SUV,"50,000",Automatic,2,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,12.00

In [126]:

# Function to clean the  km string
def clean_km(km_str):
   
    km_str = km_str.replace('km', '').replace(',', '').strip()
    # Return cleaned value
    return int(km_str)

# Apply the cleaning function to the km column
overall_details['km'] = overall_details['km'].apply(clean_km)

# Preview the cleaned data
overall_details.head()

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,centralVariantId,variantName,price
0,Petrol,Sedan,70000,Automatic,3,Toyota,Toyota Camry,2014,2123,Hybrid,9.75
1,Petrol,Hatchback,23981,Manual,1,Datsun,Datsun RediGO,2017,5236,T Option,2.66
2,Petrol,SUV,7100,Automatic,1,Renault,Renault Kiger,2021,8352,RXT AMT,5.95
3,Petrol,Hatchback,71574,Manual,2,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,2.23
4,Diesel,SUV,50000,Automatic,2,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,12.00

In [152]:
overall_details['model year'] = overall_details['modelYear'].astype(str)

In [153]:
overall_details.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7449 entries, 0 to 8368
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ft                                 7449 non-null   object
 1   bt                                 7449 non-null   object
 2   km                                 7449 non-null   int64
 3   transmission                       7449 non-null   object
 4   ownerNo                            7449 non-null   int64
 5   oem                                7449 non-null   object
 6   model                              7449 non-null   object
 7   modelYear                          7449 non-null   int64
 8   centralVariantId                   7449 non-null   int64
 9   variantName                        7449 non-null   object
 10  price                              7449 non-null   float64
 11  filtered_price                     7449 non-null   float64
 12  filtered_price_normalized_min_max  7449 non-null   float64
 13  model year                         7449 non-null   object
dtypes: float64(3), int64(4), object(7)
memory usage: 872.9+ KB

In [128]:
import numpy as np
import pandas as pd

# Convert the 'price' column to a Series for easier calculations
price_series = pd.Series(overall_details['price'])

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = price_series.quantile(0.25)
Q3 = price_series.quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out values outside of these bounds
# The corrected assignment to the DataFrame
overall_details['filtered_price'] = price_series[(price_series >= lower_bound) & (price_series <= upper_bound)]

print("Filtered overall_details['price']:\n", overall_details['filtered_price'])

Filtered overall_details['price']:
 0        9.75
1        2.66
2        5.95
3        2.23
4       12.00
        ...
8364     7.00
8365      NaN
8366      NaN
8367     8.50
8368    15.00
Name: filtered_price, Length: 8369, dtype: float64

In [129]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

filtered_price_data = overall_details[['filtered_price']]
min_max_scaler = MinMaxScaler()
overall_details['filtered_price_normalized_min_max'] = min_max_scaler.fit_transform(filtered_price_data)
print(overall_details.head())

       ft         bt     km transmission  ownerNo      oem          model  \
0  Petrol      Sedan  70000    Automatic        3   Toyota   Toyota Camry
1  Petrol  Hatchback  23981       Manual        1   Datsun  Datsun RediGO
2  Petrol        SUV   7100    Automatic        1  Renault  Renault Kiger
3  Petrol  Hatchback  71574       Manual        2  Hyundai    Hyundai i20
4  Diesel        SUV  50000    Automatic        2     Audi        Audi Q3

   modelYear  centralVariantId             variantName  price  filtered_price  \
0       2014              2123                  Hybrid   9.75            9.75
1       2017              5236                T Option   2.66            2.66
2       2021              8352                 RXT AMT   5.95            5.95
3       2011              1642              1.2 Sportz   2.23            2.23
4       2014                99  35 TDI Quattro Premium  12.00           12.00

   filtered_price_normalized_min_max
0                           0.507246
1                           0.096232
2                           0.286957
3                           0.071304
4                           0.637681

In [160]:
overall_details = overall_details.drop(columns=['filtered_price_normalized_min_max','price'])

In [161]:
overall_details.describe()

,km,ownerNo,modelYear,centralVariantId,filtered_price
count,7.449000e+03,7449.000000,7449.000000,7449.000000,7449.000000
mean,5.966617e+04,1.366761,2016.393476,4896.013693,6.431018
std,4.417993e+04,0.643067,3.755657,2724.034308,3.668188
min,0.000000e+00,0.000000,1985.000000,5.000000,1.000000
25%,3.218400e+04,1.000000,2014.000000,1973.000000,3.800000
50%,5.555600e+04,1.000000,2017.000000,5096.000000,5.650000
75%,8.000000e+04,2.000000,2019.000000,7091.000000,8.100000
max,2.000022e+06,5.000000,2023.000000,11098.000000,18.250000

In [162]:
print(overall_details.columns)

Index(['ft', 'bt', 'km', 'transmission', 'ownerNo', 'oem', 'model',
       'modelYear', 'centralVariantId', 'variantName', 'filtered_price'],
      dtype='object')

In [ ]:
overall_details.drop(columns='centralVariantId',axis=1)

,ft,bt,km,transmission,ownerNo,oem,model,modelYear,variantName,filtered_price
0,Petrol,Sedan,70000,Automatic,3,Toyota,Toyota Camry,2014,Hybrid,9.75
1,Petrol,Hatchback,23981,Manual,1,Datsun,Datsun RediGO,2017,T Option,2.66
2,Petrol,SUV,7100,Automatic,1,Renault,Renault Kiger,2021,RXT AMT,5.95
3,Petrol,Hatchback,71574,Manual,2,Hyundai,Hyundai i20,2011,1.2 Sportz,2.23
4,Diesel,SUV,50000,Automatic,2,Audi,Audi Q3,2014,35 TDI Quattro Premium,12.00
...,...,...,...,...,...,...,...,...,...,...
7444,Petrol,Hatchback,12000,Manual,1,Maruti,Maruti Alto 800,2013,LXI,2.45
7445,Diesel,SUV,60000,Manual,1,Mahindra,Mahindra XUV500,2013,W8 2WD,7.00
7446,Diesel,SUV,60000,Manual,1,Mahindra,Mahindra XUV500,2013,W8 2WD,7.00
7447,Diesel,SUV,50000,Automatic,2,Tata,Tata Nexon,2019,1.5 Revotorq XMA,8.50
7448,Diesel,MUV,100000,Manual,1,Toyota,Toyota Innova,2015,2.5 ZX Diesel 7 Seater,15.00

In [13]:
overall_details.to_csv('C:/Users/mange/Desktop/MY PROJECTS/CAR DEKHO/car_dekho_files/new files/overalldetails.csv',index=False)